.page-info{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    &__title{
        margin-top: 61px;
        color: #453324;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
    }
    &__table{
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        background: #2F304A;
        border-collapse: collapse;
        width: 95%;
        text-align: center;
        color: #888;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%; /* 15.6px */
        
    }
}
table, th, td {
    border: 2px solid #5B5B5B; 
    padding: 10px;/* Колір та товщина рамок */
}